/* Header styles */
.header {
    padding: 10px 0;
    transition: background 0.5s ease-in-out; /* Smooth background transition */
    position: relative;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navbar {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header .logo a {
    text-decoration: none;
    color: white; /* Blue accent color */
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 50px;
}

.header .menu ul {
    margin-left: 192px;
    display: flex;
    padding: 0;
}

.header .menu ul li {
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
    align-items: center;
}

.header .menu ul li a {
    text-decoration: none;
    color: white; /* Blue accent color */
    font-size: 1.2em;
    transition: color 0.3s;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header .menu ul li a:hover {
    color: #ffd700; /* Gold accent color on hover */
}

.header .contact-info {
    color: #fff;
    margin-left: 400px;
}

.header .contact-info ul {
    margin-left: 41px;
}

.header .contact-info ul li {
    display: inline-block;
}

.header .contact-info ul li a {
    color: #fff;
    font-size: 15px;
    transition: all 0.3s;
}

.header .contact-info ul li a:hover {
    color: white;
}

.header .contact-info ul li a.sep {
    margin: 0 28px;
    opacity: 0.3;
}
